# MongoDB connection string
MONGO_URI=mongodb://localhost:27017/

# MongoDB database name
DB_NAME=sample_orders2

# Optional input file path
# اتركه فارغًا إذا كان البرنامج سيطلب المسار من المستخدم
PIPELINE_INPUT_FILE=

# File-size threshold in megabytes
# الملفات الأقل من 200 MB تستخدم Python Batch
# والملفات الأكبر تستخدم PySpark
SMALL_FILE_THRESHOLD_MB=200

# Number of records processed per Python Batch
BATCH_SIZE=5000
